.App {
  text-align: center;
  width: 400px;
  height: 600px;
  border: 1px solid lightblue;
  
}
.buttonP{
  background-color : lightgreen;
  border-radius: 50%;
}
.input{

  background-color : lightgreen;
  border-radius: 5%;
}

.select{
  border :2px solid lightgreen;
  border-radius: 5%;
}

.shopList{
 
  background-color: lightslategray;
}
.techList{
  background-color: lightseagreen;
}
.pleasureList{
  background-color: rgb(113, 170, 226);
}
